<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers"></ion-back-button>
    </ion-buttons>
    <ion-title>new-offer</ion-title>
    <ion-buttons slot="primary">
      <ion-button
        slot="icon-only"
        (click)="onCreateOffer()"
        [disabled]="!form.valid"
        ><ion-icon name="checkmark"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input type="text" formControlName="title"></ion-input>
          </ion-item>
          <ion-item
            lines="none"
            *ngIf="!form.get('title').valid && form.get('title').touched"
          >
            <ion-text color="danger">Title cant be empty</ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-textarea rows="3" formControlName="description"></ion-textarea>
          </ion-item>
          <ion-item
            lines="none"
            *ngIf="!form.get('description').valid && form.get('description').touched"
          >
            <ion-text color="danger"
              >Description cant be empty or more than 120 characters</ion-text
            >
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Price</ion-label>
            <ion-input type="number" formControlName="price"></ion-input>
          </ion-item>
          <ion-item
            lines="none"
            *ngIf="!form.get('price').valid && form.get('price').touched"
          >
            <ion-text color="danger">Price must be postive number</ion-text>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label>Available from</ion-label>
          </ion-item>
          <ion-item>
            <ion-datetime
              min="2022-03-23"
              max="2022-12-31"
              formControlName="dateFrom"
            ></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size-sm="3">
          <ion-item>
            <ion-label>Available to</ion-label>
          </ion-item>
          <ion-item>
            <ion-datetime
              min="2022-03-24"
              max="2022-12-31"
              formControlName="dateTo"
            ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
