<ion-header>
  <ion-toolbar>
    <ion-title>{{ selectedPlace.title }}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button
        slot="icon-only"
        (click)="onBook(form)"
        [disabled]="!form.valid"
      >
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #form="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">First name</ion-label>
            <ion-input ngModel name="firstName" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Last name</ion-label>
            <ion-input ngModel name="lastName" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Number of guests</ion-label>
            <ion-select ngModel="'2'" name="guestNumber">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
              <ion-select-option value="4">4</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item button="true" id="open-date-input">
            <ion-label>From</ion-label>
            <ion-text slot="end">{{ dateValue }}</ion-text>
            <ion-popover trigger="open-date-input" show-backdrop="false">
              <ng-template>
                <ion-datetime
                  #popoverDatetime
                  [min]="selectedPlace.availableFrom.toISOString()"
                  [max]="selectedPlace.availableTo.toISOString()"
                  ngModel
                  name="dateFrom"
                  required
                  #startDateCtrl="ngModel"
                  presentation="date"
                  (ionChange)="dateValue = formatDate(popoverDatetime.value,'from')"
                ></ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
        </ion-col>
        <ion-col size-sm="3">
          <ion-item button="true" id="open-date-input2">
            <ion-label>To</ion-label>
            <ion-text slot="end">{{ dateValue2 }}</ion-text> 
            <ion-popover trigger="open-date-input2" show-backdrop="false">
              <ng-template>
                <ion-datetime
                  #popoverDatetime2
                  [min]="dateFrom.toISOString()"
                  [max]="selectedPlace.availableTo.toISOString()"
                  ngModel
                  name="dateTo"
                  required
                  presentation="date"
                  (ionChange)="dateValue2 = formatDate(popoverDatetime2.value,'to')"
                ></ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
        </ion-col>

      </ion-row>
    </ion-grid>
  </form>
</ion-content>
